<style type="text/css">

	.box {
	    border: 1px solid #666666;	    
	    background: #B9E0E3;
	    float: center;
	    display: block;
	    width: 850px;
	    padding: 5px;
	    margin: 10 auto;
	    text-align:center;
	}
	
	.fieldset_box {
		border: 1px solid #666666;	 
		padding: 5px;
		/* width: 300px; */
		text-align:center;
		margin:auto;
	}
	
	.fieldset_legend {
		text-align: left;
		font-weight: bold;
	}
	
	.doc {
	    border: 1px solid #666666;	    
	    background: #FFFFFF;
	    float: center;
	    display: block;
	    width: 800px;
	    padding: 5px;
	    margin: 10px auto;
	    text-align:center;
	}
	
	table {
		margin-left:auto; 
    	margin-right:auto;
		align:center;
	}
	
	.horizontalTable th {
		padding: 4px;
		padding-top: 0px;
		text-align: right;
		vertical-align: top;
		font-weight: bold;
	}
	
	.horizontalTable td {
		padding: 4px;
		padding-top: 0px;
		text-align: left;
		vertical-align: top;
	}
	
	.verticalTable th {
		padding: 4px;
		text-align: center;
		font-weight: bold;
	}
	
	.verticalTable td {
		padding: 4px;
		text-align: center;
	}
	
	/** Remove bullets from list */
	ul, li {
    	list-style-type: none;
    	padding: 0px;
    	margin: 0px;
    	display: inline;
	}
	
	.error {
		color: #FF0000;
		font-weight: bold;
	}
	
	.highlight {
		color: #FF0000;
	}
	
</style>