<div class="doc" style="border:0px">
	<h2><b>About this Site</b></h2>
	
	<div align="center">	
	NCPP's climate indexes service is in the early stages of development.
	The purpose of this application is to demonstrate the capability to access climate indices across the internet from different servers.  
	Along with the climate index data, NCPP is developing the ability to retrieve and
	display metadata that describes the data, and  translational information
	that will aid the user of the data in translating the raw numbers into usable information. 
	Please see the <a href="http://www.earthsystemcog.org/projects/climate-indices/">Climate Indexes Site</a> for more
	information on the goals of this project.
	</div>
</div>