<!-- Form to review the user selection before submitting the job -->

<h3>Request Summary</h3>

<table class="horizontalTable">
	<tr><th nowrap="nowrap">Region:</th><td>{{ job_data.region }}</td></tr>
	<tr><th nowrap="nowrap">Climate Index:</th><td>{{ job_data.index }}</td></tr>
	<!-- <tr><th nowrap="nowrap">Aggregation:</th><td>{{ job_data.aggregation }}</td></tr> -->
	<tr><th nowrap="nowrap">Start Date:</th><td>{{ job_data.startDateTime }}</td></tr>
	<tr><th nowrap="nowrap">Observed Dataset:</th><td>{{ job_data.dataset }}</td></tr>
	<tr><th nowrap="nowrap">Output Format:</th><td>{{ job_data.outputFormat }}</td></tr>
	<tr>
		<th nowrap="nowrap">Supporting Information:</th>
		<td>{% for info in job_data.supportingInfo %}{% if forloop.counter > 1 %}, {% endif %}{{ info }}{% endfor %} &nbsp;</td>
	</tr>
</table>