<!-- Form to review the user selection before submitting the job -->

<h3>Request Summary</h3>

<table class="horizontalTable">
	<tr><th nowrap="nowrap">Dataset:</th><td>{{ job_data.dataset }}</td></tr>
	<tr><th nowrap="nowrap">Variable:</th><td>{{ job_data.variable }}</td></tr>
	<tr><th nowrap="nowrap">Geometry:</th><td>{{ job_data.geometry }}: {{ job_data.geometry_id }}</td></tr>
	<tr><th nowrap="nowrap">Bounding Box:</th>
	    <td> Lat min: {{ job_data.latmin }} max: {{ job_data.latmax }}
	         Lon min: {{ job_data.lonmin }} max: {{ job_data.lonmax }}
	    </td>
	</tr>
	<tr><th nowrap="nowrap">Point:</th><td> lat: {{ job_data.lat }} lon: {{ job_data.lon }}</td></tr>
	<tr><th nowrap="nowrap">Start Date Time:</th><td>{{ job_data.datetime_start }}</td></tr>
	<tr><th nowrap="nowrap">Stop Date Time:</th><td>{{ job_data.datetime_stop }}</td></tr>
	<tr><th nowrap="nowrap">Selected Months:</th><td>{{ job_data.timeregion_month }}</td></tr>
	<tr><th nowrap="nowrap">Selected Years:</th><td>{{ job_data.timeregion_year }}</td></tr>
	<tr><th nowrap="nowrap">Aggregate:</th><td>{{ job_data.aggregate }}</td></tr>
	<tr><th nowrap="nowrap">Calculation:</th><td>{{ job_data.calc }}</td></tr>
	<tr><th nowrap="nowrap">Calculation Parameters:</th><td>{{ job_data.par1 }},{{ job_data.par2 }}</td></tr>
	<tr><th nowrap="nowrap">Calculate Group:</th><td>{{ job_data.calc_group }}</td></tr>
	<tr><th nowrap="nowrap">Calculate Raw:</th><td>{{ job_data.calc_raw }}</td></tr>
	<tr><th nowrap="nowrap">Spatial Operation:</th><td>{{ job_data.spatial_operation }}</td></tr>
	<tr><th nowrap="nowrap">Output Format:</th><td>{{ job_data.output_format }}</td></tr>
	<tr><th nowrap="nowrap">Prefix:</th><td>{{ job_data.prefix }}</td></tr>
	
</table>