<!-- Form to select the dataset -->

<!-- YUI libraries -->
<script src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>
<script src="http://yui.yahooapis.com/2.9.0/build/event/event-min.js"></script>
<script src="http://yui.yahooapis.com/2.9.0/build/connection/connection_core-min.js"></script>

<!-- custom javascript code -->
<script language="javascript">

	// FIXME: function to unescape HTML entities
	String.prototype.unescapeHtml = function () {
	    var temp = document.createElement("div");
	    temp.innerHTML = this;
	    var result = temp.childNodes[0].nodeValue;
	    temp.removeChild(temp.firstChild);
	    return result;
	}

	// function to populate the form widget with the dataset choices
	function populateDatasets() {

		// dataset options
		var options = new Array();
		options[0] = ["","-- Please Select --"];
		
		// retrieve current dataset category selection
		datasetCategorySelect = document.getElementById("id_0-dataset_category");
		if (datasetCategorySelect.value!=null && datasetCategorySelect.value!='') {
			
			// FIXME: parse only once ?
			var datasets = JSON.parse("{{datasets}}".unescapeHtml());			
			jsonData = datasets[datasetCategorySelect.value];
			for (var dt in jsonData) {
				options.push( [dt, dt] )
			}
	
		} 
		
		showOptions("id_0-dataset", options);
		
	}
	
	// function to populate the form widget with the variable choices
	function populateVariables() {

		// variable options
		var options = new Array();
		options[0] = ["","-- Please Select --"];
		
		// retrieve current selection for dataset category  and dataset
		datasetCategorySelect = document.getElementById("id_0-dataset_category");
		datasetSelect = document.getElementById("id_0-dataset");
		if (   datasetCategorySelect.value!=null && datasetCategorySelect.value!='' 
			&& datasetSelect.value!=null && datasetSelect.value!='') {
			
			var datasets = JSON.parse("{{datasets}}".unescapeHtml());			
			jsonData = datasets[datasetCategorySelect.value][datasetSelect.value];
			for (var variable in jsonData) {
				options.push( [variable, variable] )
			}
	
		} 
		
		showOptions("id_0-variable", options);
		
	}
	
	
	// function to populate a select widget with options
	function showOptions(widgetId, options) {
		
		selectWidget = document.getElementById(widgetId);
		selectWidget.options.length = 0;
		for (var i = 0; i < options.length; i++) {
			selectWidget.add( new Option(options[i][1], options[i][0]) ); // label, value
		}
				
	}
	
	// function to populate the geometries widget
	function populateGeometries() {
		
		// geometry options
		var options = new Array();
		
		// retrieve current selection for geometry type
		geometryTypeSelect = document.getElementById("id_0-geometry");
		if (geometryTypeSelect.value!=null && geometryTypeSelect.value!='') {
			
			var geometries = JSON.parse("{{geometries}}".unescapeHtml());			
			jsonData = geometries[geometryTypeSelect.value]["geometries"];
			for (var geom in jsonData) {
				options.push( [geom, geom] )
			}
	
		} 
		
		showOptions("id_0-geometry_id", options);

		
	}
	
	// function called if Ajax request failed
	var handleFailure = function(o) {
		alert("An Error Occurred!"
		     +"\nHTTP Status Code: "+o.status
		     +"\nMessage: "+o.statusText);
	}
	
	// function called if Ajax request to inspect dataset succeded
	var handleDatasetSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		
		// populate variable choices
		showVariables(jsonResponse.variables);
		
		// populate start, stop times
		showDateTimes(jsonResponse.datetime_start, jsonResponse.datetime_stop);

	}
	
	// function to populate the variable choices
	function showVariables(variables) {
		
		variableSelect = document.getElementById("id_0-variable");
		variableSelect.options.length = 0;
		for (var i = 0; i < variables.length; i++) {
			variableSelect.add( new Option(variables[i][1], variables[i][0]) );
		}
				
	}
	
	// function to populate the start, stop times
	function populateDateTimes(datetime_start, datetime_stop) {
		
		
		// retrieve current selection for dataset category  and dataset
		datasetCategorySelect = document.getElementById("id_0-dataset_category");
		datasetSelect = document.getElementById("id_0-dataset");
		variableSelect = document.getElementById("id_0-variable");
		if (   datasetCategorySelect.value!=null && datasetCategorySelect.value!='' 
			&& datasetSelect.value!=null && datasetSelect.value!=''
			&& variableSelect.value!=null && variableSelect.value!='') {
			
			var datasets = JSON.parse("{{datasets}}".unescapeHtml());
			jsonData = jsonData = datasets[datasetCategorySelect.value][datasetSelect.value][variableSelect.value]["time_range"];
		
			if (jsonData!=null) {
				startDateTimeText = document.getElementById("id_0-datetime_start");
				startDateTimeText.value = jsonData[0];
				stopDateTimeText = document.getElementById("id_0-datetime_stop");
				stopDateTimeText.value = jsonData[1];
			}
		
		}

	}
	
	// function called after dataset Ajax request returns
	var datasetCallback = {
	  success: handleDatasetSuccess,
	  failure: handleFailure,
	  cache: false,
	  timeout: 5000,
	  argument: [],
	};
	
	// function to populate the geometry choices
	function showGeometries(geometries) {
		
		geometryIdSelect = document.getElementById("id_0-geometry_id");
		geometryIdSelect.options.length = 0;
		for (var i = 0; i < geometries.length; i++) {
			geometryIdSelect.add( new Option(geometries[i][1], geometries[i][0]) );
		}
				
	}
	
	// function called if Ajax request to inspect dataset succeded
	var handleGeometrySuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		
		// populate geometry choices
		showGeometries(jsonResponse.geometries);

	}
	
	// function called after geometry Ajax request returns
	var geometryCallback = {
	  success: handleGeometrySuccess,
	  failure: handleFailure,
	  cache: false,
	  timeout: 5000,
	  argument: [],
	};
	
</script>
       
<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Data Selection</legend>	
	Please select a <i>dataset category</i>, a <i>dataset</i>, and a <i>variable</i>.
	<p/>&nbsp;
	
	<table class="horizontalTable">
		<tr>
			<th>Dataset Category</th>
			<td>{{ wizard.form.dataset_category }}
				<br/>&nbsp;<span class="error">{{ wizard.form.dataset_category.errors }}</span></td>
		</tr>
		<tr>
			<th>Dataset</th>
			<td>{{ wizard.form.dataset }}
				<br/>&nbsp;<span class="error">{{ wizard.form.dataset.errors }}</span></td>
		</tr>
		<tr>
			<th>Variable</th>
			<td>{{ wizard.form.variable }}
				<br/>&nbsp;<span class="error">{{ wizard.form.variable.errors }}</span></td>
		</tr>
	</table>
</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Geo-Spatial Selection</legend>	
	Optionally, please select either a <i>shape</i> geometry, a <i>bounding box</i>, or a <i>point</i>.
	<br/>No selection will result in the full dataset geo-spatial extent.
	<p/>&nbsp;
	
	<table class="horizontalTable">
		<tr>
			<th>Shape:</th>
			<td>Type:</td>
			<td>{{ wizard.form.geometry }}</td>
			<td>Geometry:</td>
			<td style="width:100%; text-align:left;"> {{ wizard.form.geometry_id }}</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="4"><span class="error">{{ wizard.form.geometry_id.errors }}</span></td>
		</tr>
		<tr>
			<th nowrap="nowrap">Bounding Box:</th>
			<td colspan="4" nowrap="nowrap">
				Latitude min: {{ wizard.form.latmin }} max: {{ wizard.form.latmax }}
				Longitude min: {{ wizard.form.lonmin }} max: {{ wizard.form.lonmax }}
			</td>	
		</tr>
		<tr>
			<td></td>
			<td colspan="4"><span class="error">{{ wizard.form.latmin.errors }}</span>
							<span class="error">{{ wizard.form.latmax.errors }}</span>
							<span class="error">{{ wizard.form.lonmin.errors }}</span>
							<span class="error">{{ wizard.form.lonmax.errors }}</span>
			</td>
		</tr>
		<tr>
			<th>Point:</th>
			<td colspan="4">Latitude: {{ wizard.form.lat }}
							Longitude: {{ wizard.form.lon }}
						<br/><span class="error">{{ wizard.form.geometry.errors }}</span>
			</td>	
		</tr>
		<tr>
			<td></td>
			<td colspan="4"><span class="error">{{ wizard.form.lat.errors }}</span>
							<span class="error">{{ wizard.form.lon.errors }}</span>
			</td>
		</tr>
		
	</table>
</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Temporal Selection</legend>
	Optionally, please select either a <i>time range</i> (i.e. a start and stop time), 
	or a <i>time region</i> (one or more months, and/or one or more years).
	No selection will result in the full dataset time extent.
	<p/>&nbsp;
	
	<table class="horizontalTable">
		<tr>
			<th>Time Range: Start</th>
			<td>
				{{ wizard.form.datetime_start }} <b>Stop</b> {{ wizard.form.datetime_stop }} &nbsp; [Format: YYYY-MM-DD HH:MM:SS]
				<br/>
				<span class="error">{{ wizard.form.datetime_start.errors }} &nbsp; {{ wizard.form.datetime_stop.errors }}
			</td>
		</tr>
		<tr>
			<th>Time Selection: Months</th>
			<td nowrap="nowrap">
			{% for box in wizard.form.timeregion_month %}
				{{ box }}
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th nowrap="nowrap">Time Selection: Years</th>
			<td>{{ wizard.form.timeregion_year }}
				&nbsp;[Format: YYYY, YYYY, ...]
			</td>
		</tr>
		<tr>
			<th></th>
			<td><span class="error">{{ wizard.form.timeregion_year.errors }}</span></td>
		</tr>
	</table>
</fieldset>