<!-- Form to select the dataset -->

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Calculation</legend>	
	Optionally, you may select a calculation to be executed on the data.
	<br/>For <i>Mean</i>, specify no parameters.
	<br/>For <i>Threshold</i>, please use <i>par1</i> as the lower bound.
	<br/>For <i>Between</i>, please use <i>par1</i> as the lower bound and <i>par2</i> as the upper bound.
	<p/>&nbsp;
         
	<table class="horizontalTable">
		<tr>
			<th>Calculation</th>
			<td>{{ wizard.form.calc }}
			    parameter 1: {{ wizard.form.par1 }} parameter 2: {{ wizard.form.par2 }}
			     <br/>
			     <span class="error">{{ wizard.form.calc.errors }} &nbsp; {{ wizard.form.par1.errors }} {{ wizard.form.par2.errors }}</span>
			 </td>
		</tr>
		<tr>
			<th>Calculation Group</th>
			<td>{{ wizard.form.calc_group }}
				&nbsp;If performing a computation, you MUST select one or more temporal grouping for the data
			     <br/><span class="error">{{ wizard.form.calc_group.errors }}</span></td>
		</tr>
		<tr>
			<th>Aggregate</th>
			<td>{{ wizard.form.aggregate }} Check to combine selected geometries into a single geometry
			<br/><span class="error">{{ wizard.form.aggregate.errors }}</span></td>
		</tr>
		<tr>
			<th>Calculate Raw ?</th>
			<td>{{ wizard.form.calc_raw }}
				&nbsp;Check to execute the calculation on raw, unaggregated values
			     <br/><span class="error">{{ wizard.form.calc_raw.errors }}</span></td>
		</tr>
	</table>

</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Output Format</legend>	
	<table class="horizontalTable">
		<tr>
			<th nowrap="nowrap"><b>Spatial Operation</b></th>
			<td> {{ wizard.form.spatial_operation }}
				<br/><span class="error">{{ wizard.form.spatial_operation.errors }}</span>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				     <i>Intersect:</i> Source geometries touching or overlapping selection geometries are returned.
				<br/><i>Clip:</i> A full geometric intersection is performed between source and selection geometries. 
				</td>
		</tr>
		<tr>
			<th nowrap="nowrap"><b>Output Format</b></th>
			<td>{{ wizard.form.output_format }}<br/><span class="error">{{ wizard.form.output_format.errors }}</span></td>
		</tr>
		<tr>
			<th><b>Prefix</b></th>
			<td>{{ wizard.form.prefix }}
			<br/>Optionally, change the prefix for the output data file (use only letters, numbers and '_').
			<br/><span class="error">{{ wizard.form.prefix.errors }}</span></td>
		</tr>
		<tr>
			<th nowrap="nowrap"><b>Include Auxiliary Files ?</b></th>
			<td>{{ wizard.form.with_auxiliary_files }} &nbsp;Check to return a compressed file that includes auxiliary files.
			<br/><span class="error">{{ wizard.form.with_auxiliary_files.errors }}</span></td>
		</tr>
		
	</table>
</fieldset>