<!-- Form to select the dataset -->

<!-- custom javascript code -->
<script language="javascript">

	function populateParameters() {
		
		// parse calculations JSON from server
		calculations = JSON.parse("{{calculations}}".unescapeHtml());
		
		calcSelect = document.getElementById("id_1-calc");
		var html1 = ""	
		var html2 = ""
		if (calcSelect.value!=null && calcSelect.value!='') {
		
			// update calculation description					
			var calc = calculations[calcSelect.value]
			calcDescription = document.getElementById("calcDescription")
			for (i=0; i<calc["description"].length; i++) {
				html1 += calc["description"][i] +"</br>";
			}
		
			// update calculation parameters
			// parameter 1: <input id="id_1-par1" type="text" name="1-par1" size="6" />			
			calcParameters = document.getElementById("calcParameters");
			if (calc["keywords"]!=null) {
				for (var i=0; i<calc["keywords"].length; i++) {
					var keyword = calc["keywords"][i];
					var name = keyword["name"];
					var type = keyword["type"];
					var j = i+1;
					var value = "";
					     if (j==1) value = "{{ wizard.form.par1.value }}";
					else if (j==2) value = "{{ wizard.form.par2.value }}";
					else if (j==3) value = "{{ wizard.form.par3.value }}";
					html2 += name + ':' + '<input id="id_1-par'+j+'" type="text" name="1-par'+j+'" size="6" value="'+value+'"/> &nbsp';
				}
			}
		
		} // calcultaion != None
		
		calcDescription.innerHTML = html1;
		calcParameters.innerHTML = html2;
		
	}
	
	// load parameters widget every time
	window.onload = populateParameters;

</script>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Calculation</legend>	
	Optionally, you may select a calculation to be executed on the data.
	<p/>&nbsp;
         
	<table class="horizontalTable">
		<tr>
			<th>Calculation</th>
			<td>
				<div style="float:left">
				<table>
					<tr>
						<td class="head">{{ wizard.form.calc }}</td>
						<td class="long">
							<span id="calcDescription"></span>
							<span id="calcParameters"></span>
				    		
				     		<span class="error">{{ wizard.form.calc.errors }} &nbsp; {{ wizard.form.par1.errors }} {{ wizard.form.par2.errors }}</span>
						</td>
					</tr>
				</table>
			    </div>
			 </td>
		</tr>
		<tr>
			<th>Calculation Group</th>
			<td>{{ wizard.form.calc_group }}
				&nbsp;If performing a computation, you MUST select one or more temporal grouping for the data
			     <br/><span class="error">{{ wizard.form.calc_group.errors }}</span></td>
		</tr>
		<tr>
			<th>Aggregate</th>
			<td>{{ wizard.form.aggregate }} Check to combine selected geometries into a single geometry
			<br/><span class="error">{{ wizard.form.aggregate.errors }}</span></td>
		</tr>
		<tr>
			<th>Calculate Raw ?</th>
			<td>{{ wizard.form.calc_raw }}
				&nbsp;Check to execute the calculation on raw, unaggregated values
			     <br/><span class="error">{{ wizard.form.calc_raw.errors }}</span></td>
		</tr>
	</table>

</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Output Format</legend>	
	<table class="horizontalTable">
		<tr>
			<th nowrap="nowrap"><b>Spatial Operation</b></th>
			<td> {{ wizard.form.spatial_operation }}
				<br/><span class="error">{{ wizard.form.spatial_operation.errors }}</span>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				     <i>Intersect:</i> Source geometries touching or overlapping selection geometries are returned.
				<br/><i>Clip:</i> A full geometric intersection is performed between source and selection geometries. 
				</td>
		</tr>
		<tr>
			<th nowrap="nowrap"><b>Output Format</b></th>
			<td>{{ wizard.form.output_format }}<br/><span class="error">{{ wizard.form.output_format.errors }}</span></td>
		</tr>
		<tr>
			<th><b>Prefix</b></th>
			<td>{{ wizard.form.prefix }}
			<br/>Optionally, change the prefix for the output data file (use only letters, numbers and '_').
			<br/><span class="error">{{ wizard.form.prefix.errors }}</span></td>
		</tr>
		<tr>
			<th nowrap="nowrap"><b>Include Auxiliary Files ?</b></th>
			<td>{{ wizard.form.with_auxiliary_files }} &nbsp;Check to return a compressed file that includes auxiliary files.
			<br/><span class="error">{{ wizard.form.with_auxiliary_files.errors }}</span></td>
		</tr>
		
	</table>
</fieldset>