<!-- Form to select the dataset -->

<!-- YUI libraries -->
<script src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>
<script src="http://yui.yahooapis.com/2.9.0/build/event/event-min.js"></script>
<script src="http://yui.yahooapis.com/2.9.0/build/connection/connection_core-min.js"></script>

<!-- custom javascript code -->
<script language="javascript">

	// function to populate the form widget with dataset-specific choices
	function inspectDataset() {
		
		// retrieve current dataset selection
		datasetSelect = document.getElementById("id_0-dataset");
		if (datasetSelect.value!=null && datasetSelect.value!='') {
			
			// execute ajax call to inspect the dataset
			url = '/ncpp/open_climate_gis/inspectDataset?uri='+encodeURIComponent(datasetSelect.value);
			var transaction = YAHOO.util.Connect.asyncRequest('GET', url, callback, null);

		} else {
			
			// populate variables widget with no options
			var variables = new Array();
			variables[0] = ["","-- Please Select --"];
			showVariables( variables );
			
		}
		
	}
	
	// function called if Ajax request failed
	var handleFailure = function(o) {
		alert("An Error Occurred!"
		     +"\nHTTP Status Code: "+o.status
		     +"\nMessage: "+o.statusText);
	}
	
	// function called if Ajax request succeded
	var handleSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		
		// populate variable choices
		showVariables(jsonResponse.variables);

	}
	
	// function to populate the variable choices
	function showVariables(variables) {
		
		// populate variable choices
		variableSelect = document.getElementById("id_0-variable");
		variableSelect.options.length = 0;
		for (var i = 0; i < variables.length; i++) {
			variableSelect.add( new Option(variables[i][1], variables[i][0]) );
		}
		
	}
	
	// function called after Ajax request returns
	var callback = {
	  success: handleSuccess,
	  failure: handleFailure,
	  cache: false,
	  timeout: 5000,
	  argument: [],
	};


</script>
       
<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Data Selection</legend>	
	<table class="horizontalTable">
		<tr>
			<th>Dataset</th>
			<td>{{ wizard.form.dataset }}
				<br/>&nbsp;<span class="error">{{ wizard.form.dataset.errors }}</span></td>
		</tr>
		<tr>
			<th>Variable</th>
			<td>{{ wizard.form.variable }}
				<br/>&nbsp;<span class="error">{{ wizard.form.variable.errors }}</span></td>
		</tr>
	</table>
</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Geometry Selection</legend>	
	Please select either a shape geometry, a bounding box, or a point.
	<table class="horizontalTable">
		<tr>
			<th>Shape:</th>
			<td>Type:</td>
			<td>{{ wizard.form.geometry }}</td>
			<td>Geometry:</td>
			<td style="width:100%; text-align:left;"> {{ wizard.form.geometry_id }}</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="4"><span class="error">{{ wizard.form.geometry_id.errors }}</span></td>
		</tr>
		<tr>
			<th nowrap="nowrap">Bounding Box:</th>
			<td colspan="4" nowrap="nowrap">
				Latitude min: {{ wizard.form.latmin }} max: {{ wizard.form.latmax }}
				Longitude min: {{ wizard.form.lonmin }} max: {{ wizard.form.lonmax }}
			</td>	
		</tr>
		<tr>
			<td></td>
			<td colspan="4"><span class="error">{{ wizard.form.latmin.errors }}</span>
							<span class="error">{{ wizard.form.latmax.errors }}</span>
							<span class="error">{{ wizard.form.lonmin.errors }}</span>
							<span class="error">{{ wizard.form.lonmax.errors }}</span>
			</td>
		</tr>
		<tr>
			<th>Point:</th>
			<td colspan="4">Latitude: {{ wizard.form.lat }}
							Longitude: {{ wizard.form.lon }}
						<br/><span class="error">{{ wizard.form.geometry.errors }}</span>
			</td>	
		</tr>
		<tr>
			<td></td>
			<td colspan="4"><span class="error">{{ wizard.form.lat.errors }}</span>
							<span class="error">{{ wizard.form.lon.errors }}</span>
			</td>
		</tr>
		
	</table>
</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Temporal Selection</legend>
	<table class="horizontalTable">
		<tr>
			<th>Start:</th>
			<td>
				{{ wizard.form.datetime_start }} &nbsp; {{ wizard.form.datetime_start.errors }}
				<b>Stop:</b>
				{{ wizard.form.datetime_stop }} &nbsp; {{ wizard.form.datetime_stop.errors }}
			</td>
		</tr>
		<tr>
			<th>Specific Months:</th>
			<td>
			{% for box in wizard.form.timeregion_month %}
				{{ box }}
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Specific Years:</th>
			<td>{{ wizard.form.timeregion_year }}
				&nbsp;[Format: YYYY, YYYY, YYYY, ...]
			</td>
		</tr>
	</table>
</fieldset>